#img-bg {
    background-image: url('https://i.pinimg.com/originals/f6/dd/59/f6dd598fafbf8488b3c7bf04d3d5ecc6.jpg');
    min-height: 795px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}